body {
    background-color: rgb(9, 43, 63);
}



.container {
    background-size: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.avatar {
    padding: 1rem;
    text-align: center;

}
.texts {
    text-align: center;
}

section {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    color: blanchedalmond;
    margin-bottom: 1rem;
}