body {
    background-color: rgb(9, 43, 63);
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    color: blanchedalmond;
}

p {
    font-family: 'Courier New', Courier, monospace;
    color: rgba(255, 235, 205, 0.555);

}